<!DOCTYPE html>
<html>
  <head>
    <title>Image send and paste</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>

    <div class="box">
      <p>Content Input:</p>
      <input id="input_file" type="file" name="input_filename" onchange="readUrl(this)">
      <br>
      <p>Style Image:</p>
      <input id="style_file" type="file" name="style_filename" onchange="readUrl(this)">
      <br><br>
      <button name="send" id ="sendbutton">Submit</button>
      <hr>
      <img id="imagebox" src="">
      
    </div>

  </body>
</html>